<h1></h1>
<ul class="list talks">
<% var year = 0%>
<% for (const item of items) { %>
<% if (year != new Date(item.date).getFullYear()) { %>
  <% year = new Date(item.date).getFullYear() %>
  <h2><%= year %></h2>
<% } %>
<article <%= metadataAttrs(item) %>>
<div class="flex">
<figure>
  <a href="<%- item.path %>">
  <img src="<%- item.image %>"></img>
  </a>
</figure>
<div class="content">
  <header>
  <h1>
  <a href="<%- item.path %>" class="listing-title"><%= item.title %></a>
  </h1>
  </header>
  <p> <%- item.description %></p>
  <p> Date: <%- item.date %></p>
  <footer>
  <% if (item.slides != undefined) { %>
  <a href="<%- item.slides %>" class="listing-slides btn-links">{{< fa door-open >}}Slides</a>
  <% } %>
  <% if (item.video != undefined) { %>
  <a href="<%- item.video %>" class="listing-video btn-links">{{< fa play-circle >}}Video</a>
  <% } %>
  <% if (item.github != undefined) { %>
  <a href="<%- item.github %>" class="listing-github btn-links">{{< fa brands github >}}Github</a>
  <% } %>
  </footer>
</div>
</div>
</article>
<% } %>
</ul>
